@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.content{
    width: 85vw;
    height: 76vh;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22px;
}

.card{
    position: relative;
    border-radius: 22px;
    margin: 20px;
    overflow: hidden;
    width: 350px;
    height: fit-content;
    box-shadow: -12px 12px 21px 12px rgba(123, 135, 157, .08);
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 25px;
    background-color: hsl(0, 0%, 100%);
}

img {
    width: 320px;
    height: auto;
    margin: auto;
    align-self: center;
    justify-self: center;
    padding: 12px;
    border-radius: 22px;
}

.card-text{
    text-align: center;
    padding: 2px 10%;
}

p{
    font-size: 15px;
    color: #a0a0a0;
    margin-bottom: 30px;
    font-weight: 400;
}

h1{
    font-size: 22px;
    color: #101010;
    font-weight: 700;
}


@media only screen and (max-width: 393px) {
    .content{
        padding: 12px;
    }

    .card{
        width: 250px;
        margin-bottom: 25px;
    }
    
    img {
        width: 220px;
        padding: 12px;
    }
    
    .card-text{
        text-align: center;
        padding: 2px 10%;
    }
    
  }

